<!-- 评论区 -->
<div class="card hoverable z-depth-2">
    <div class="card-content ">
        <form id="form" action="/admin/discuss/add/" method="post">
            <input type="hidden" name="url" value="{{ discuss_url }}">
            <div class="row">
                <div class="col s12 l4 input-field">
                    <input placeholder="example@example.com" id="email" type="text" name="email" class="validate" pattern="^[A-Za-z0-9\u4e00-\u9fa5]+@[A-Za-z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" required="必须填写您的邮箱，以方便联系">
                    <label for="email">电子邮箱(不会显示完整地址)</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 input-field">
                    <textarea id="textarea1" name="raw" class="materialize-textarea"></textarea>
                    <label for="textarea1">评论(支持markdown。请使用中文以及不要发布广告内容)</label>
                </div>
            </div>
            <div class="row">
                <input type="checkbox" id="check" name="check" checked="checked" />
                <label for="check">有人回复我给我发邮件(最前面的字符使用
                    <code>@5#</code>回复id为5的评论)</label>
                <a href="javascript:submitform();" class="right waves-effect waves-light btn indigo lighten-2">评论</a>
            </div>
        </form>


    </div>
</div>

<div id="app">
    <div class="center" v-if="loading">{% include "layout/loading.html" %}</div>
    <div v-if="!loading">
        <div class="row">
            <div class="right">
                <!-- Dropdown Trigger -->
                <button class='dropdown-button btn indigo darken-2' data-activates='dropdown1' v-text='sortType'></button>
                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li>
                        <a v-on:click="makeSortType('逆序排序')" class="blue-text">逆序排序</a>
                    </li>
                    <li>
                        <a v-on:click="makeSortType('顺序排序')" class="blue-text">顺序排序</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="card hoverable z-depth-2 discuss-card" v-for="d in discuss">
            <div class="card-content">
                <div class="card-title">

                    <span v-text="d.username">
                    </span>
                    <i v-if="d.sendemail=='1'" class="material-icons right">
                        <span click="" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="@他，他将收到邮件提醒">email</span>
                    </i>
                </div>
                <div class="fold_parent" v-if="d.ad=='1'">
                    <div class="fold_hider">
                        <div class="close hider_title">点击查看/关闭被识别为广告的评论</div>
                    </div>
                    <div class="fold">
                        <p v-html="d.html"></p>
                    </div>
                </div>
                <p v-if="d.ad!='1'" v-html="d.html"></p>

            </div>
            <div class="card-action">
                <span v-text="d.time"></span>
                <span class="right">#
                <span v-text="d.id"></span>
            </div>

        </div>
    </div>
</div>
<!-- 评论区结束 -->

<script>
    var url = "{{ discuss_url }}";

    vue = new Vue({
        el: '#app',
        data: {
            discuss: [],
            loading: true,
            sortType: '逆序排序',
        },
        methods: {
            makeSortType: function(_sortType) {
                console.log(_sortType)

                this.sortType = _sortType;
                this.makeSort();
            },
            makeSort: function() {
                this.discuss = this.discuss.sort((a, b) => {
                    var ret;
                    if (this.sortType == "顺序排序") {
                        ret = parseInt(a.id) - parseInt(b.id);
                    } else {
                        ret = parseInt(b.id) - parseInt(a.id);
                    }
                    return ret;
                });
                this.loading = false;
                this.$nextTick(() => {
                    $('.tooltipped').tooltip({
                        delay: 50
                    }); // 提示框

                    // $('select').material_select();
                    $('.dropdown-button').dropdown({
                        inDuration: 300,
                        outDuration: 225,
                        constrain_width: false, // Does not change width of dropdown to that of the activator
                        hover: true, // Activate on hover
                        gutter: 0, // Spacing from edge
                        belowOrigin: false, // Displays dropdown below the button
                        alignment: 'left' // Displays dropdown with edge aligned to the left of button
                    });
                })
            }
        }
    })

    $(document).ready(() => {

        vue.loading = true;
        fetchData("/api/discuss/" + url, data => {
            vue.discuss = data;
            vue.makeSort();
            vue.$nextTick(function() {
                $("div.fold").css("display", "none");
            })

        });
    });


    function submitform() {
        if (/^[A-Za-z0-9\u4e00-\u9fa5]+@[A-Za-z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.exec($('#email').val()))
            $('#form').submit();
        else
            Materialize.toast('邮箱格式错误', 3000, 'rounded');
    }
</script>