<link rel="shortcut icon" href="/static/img/favicon.ico">
<link rel="icon" sizes="196x196" href="/static/logo_196x196.png">  

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!--手机Chrome状态栏颜色-->
<meta name="theme-color" content="#428bca">

<!-- Windows磁贴颜色 -->
<meta name="msapplication-TileColor" content="#428bca"/>
<meta name="msapplication-TileImage" content="icon.png"/>


<!-- IOS 主屏图标 -->
<link rel="apple-touch-icon-precomposed" href="/static/logo_76x76.png">  
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/logo_76x76.png">  
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/logo_120x120.png">  
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/logo_152x152.png">  

