<!--Import Google Icon Font-->
<link href="/static/css/materialIcons.css" rel="stylesheet">
<link href="/static/css/OhYeeIcons.css" rel="stylesheet">

<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>

<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script type="text/javascript" src="/static/js/vue.js"></script>

<link type="text/css" rel="stylesheet" href="/static/css/atom-one-dark.css" />
<script type="text/javascript" src="/static/js/highlight.min.js"></script>

<script ype="text/javascript" src="/static/js/particles.js"></script>



<link type="text/css" rel="stylesheet" href="/static/css/local.css" media="screen,projection" />
<script type="text/javascript" src="/static/js/local.js"></script>