<!doctype html>
<html>

    <head>

        <title>{% block title %}OhYee's Blog{% endblock %}</title>
        {% include './layout/head.html' %} {% block meta %} {% endblock %}{% include './layout/jscss.html' %}
    </head>

    <body>

        {% include './layout/header.html' %}

        <main>
            <div style="height:20px"></div>
            {% block content %} {% endblock %}
        </main>

         {% block script %}{% endblock %} {% include './layout/footer.html' %} {% with messages
        = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <script>
            Materialize.toast('{{ message|safe }}', 3000, 'rounded')
        </script> {% endfor %} {% endif %} {% endwith %}
    </body>

</html>