{% extends "layout/admin.html" %} {% block title %}标签管理{% endblock %} {% block admin_main %}

<div id="app">
    <div class="row">

        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input placeholder="选择要编辑的标签..." id="search" type="text" v-model="searchwords">
            </div>
        </div>
        <div class="center" v-if="loading">
            {% include "layout/loading.html" %}
        </div>
        <div class="col s12" v-if="!loading">
            <div class="row">
                <div class="col m4 s12">
                    <div class="col s1">
                        id
                    </div>
                    <div class="col s5">
                        邮箱
                    </div>
                    <div class="col s2">
                        发信
                    </div>
                    <div class="col s4">
                        文章
                    </div>
                </div>
                <div class="col m8 s12">
                    <div class="col s2">
                        日期
                    </div>
                    <div class="col s2">
                        IP
                    </div>
                    <div class="col s1">
                        显示
                    </div>
                    <div class="col s1">
                        广告
                    </div>
                    <div class="col s4">
                        评论内容
                    </div>
                    <div class="col s2">
                        操作
                    </div>
                </div>
            </div>
            <div class="row" v-for="(d,idx) in discuss">
                <form action="/admin/discuss/update/" method="post">
                    <input type="hidden" v-model="d.id" name="id" />
                    <div class="col s12 m4">
                        <div class="row">
                            <div class="col s1">
                                <span v-text="d.id"></span>
                            </div>
                            <div class="col s5">
                                <input name="email" type="text" v-model="d.email" class="validate" pattern="^[A-Za-z0-9\u4e00-\u9fa5]+@[A-Za-z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" />
                            </div>
                            <div class="col s2">
                                <input type="checkbox" name="sendemail" v-bind:id="'sendemail'+idx" v-bind:checked="d.sendemail==1" />
                                <label v-bind:for="'sendemail'+idx"></label>
                            </div>
                            <div class="col s4">
                                <a v-bind:href="'/'+d.url" v-text="d.url"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m8">
                        <div class="row">
                            <div class="col s2">
                                <span v-text="d.time"></span>
                            </div>
                            <div class="col s2">
                                <span v-text="d.ip"></span>
                            </div>
                            <div class="col s1">
                                <input name="show" type="checkbox" v-bind:id="'show'+idx" v-bind:checked="d.show==1" />
                                <label v-bind:for="'show'+idx"></label>
                            </div>
                            <div class="col s1">
                                <input name="ad" type="checkbox" v-bind:id="'ad'+idx" v-bind:checked="d.ad==1" />
                                <label v-bind:for="'ad'+idx"></label>
                            </div>
                            <div class="col s4">
                                <span class="truncate" v-text="d.raw"></span>
                            </div>
                            <div class="col s2">
                                <button class="waves-effect waves-light btn indigo darken-1" type="submit">修改</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %} {% block script %}
<script>
    $('ul li#管理后台').toggleClass('active');

    var vue = new Vue({
        el: '#app',
        data: {
            discuss: [],
            loading: true,
            searchwords: "",
        },
        methods: {}
    });

    vue.$watch('searchwords', search);
    $(document).ready($ => search(vue.searchwords));

    function search(searchwords) {
        vue.loading = true;
        if (searchwords == '') {
            fetchData('/api/alldiscuss/', data => {
                vue.discuss = data;
                console.log(data);
                vue.loading = false;
            });
        } else {
            fetchData('/api/discussid/' + searchwords + '/', data => {
                vue.discuss = data;
                vue.loading = false;
            });
        }
    }
</script> {% endblock %}