{% extends "layout/admin.html" %} {% block title %}友链管理{% endblock %} {% block admin_main %}

<div class="row center">
    <div class="col s12">
        <div class="row">
            <div class="col s3">
                序号
            </div>
            <div class="col s3">
                名称
            </div>
            <div class="col s3">
                链接
            </div>
            <div class="col s3">
                操作
            </div>
        </div>


        <form action="/admin/friends/add/" method="post">
            <div class="row">
                <div class="input-field col s3">
                    <input id="idx" name="idx" type="text" class="validate" pattern="[0-9]+">
                    <label for="idx">序号</label>
                </div>
                <div class="input-field col s3">
                    <input id="name" name="name" type="text">
                    <label for="name">名称</label>
                </div>
                <div class="input-field col s3">
                    <input id="url" name="url" type="text">
                    <label for="url">链接</label>
                </div>
                <div class="input-field col s3">
                    <button id="addbutton" class="waves-effect waves-light btn indigo darken-1 disabled" type="submit" name="action">新建</button>
                </div>
            </div>
        </form>

        {% for friends in Site['Friends'] %}
        <form action="#" method="post">
            <input name="oldname" type="hidden" value="{{ friends['name'] }}" />
            <div class="row">
                <div class="input-field col s3">
                    <input id="idx" name="idx" type="text" class="validate" pattern="[0-9]+" value="{{ friends['idx'] }}" />
                    <label for="idx">序号</label>
                </div>
                <div class="input-field col s3">
                    <input id="name" name="name" type="text" value="{{ friends['name'] }}" />
                    <label for="name">名称</label>
                </div>
                <div class="input-field col s3">
                    <input id="url" name="url" type="text" value="{{ friends['url'] }}" />
                    <label for="url">链接</label>
                </div>
                <div class="input-field col s3">
                    <a id="updatebutton" class="waves-effect waves-light btn indigo darken-1">修改</a>
                    <a id="deletebutton" class="waves-effect waves-light btn indigo darken-1">删除</a>
                </div>
            </div>
        </form>
        {% endfor %}
    </div>

</div>

{% endblock %} {% block script %} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages
%}
<script>Materialize.toast('{{ message }}', 3000, 'rounded')</script> {% endfor %} {% endif %} {% endwith %}

<script>
    $('ul li#管理后台').toggleClass('active');
    $(document).on('input', '#idx', function () {
        var pattern = /^[0-9]+$/;
        console.log();
        if (!pattern.exec(this.value)) {
            console.log("false");
            $(this).parent().parent().children().children("button#addbutton").toggleClass('disabled', true);
            $(this).parent().parent().children().children("a#updatebutton").toggleClass('disabled', true);
        } else {
            console.log("true");
            $(this).parent().parent().children().children("button#addbutton").toggleClass('disabled', false);
            $(this).parent().parent().children().children("a#updatebutton").toggleClass('disabled', false);
        }
    });

    $(document).on('click', '#updatebutton', function () {
        var tform = $(this).parents("form");
        tform.attr("action", "/admin/friends/update/");
        tform.submit();
    });
    $(document).on('click', '#deletebutton', function () {
        var tform = $(this).parents("form");
        tform.attr("action", "/admin/friends/delete/");
        tform.submit();
    });

</script> {% endblock %}