{% extends "layout/admin.html" %} {% block title %}导入与备份{% endblock %} {% block admin_main %}



<div id="app">
    <a class="waves-effect waves-light btn blue darken-2" href="/admin/import/exportTags/">导出标签</a>
    <a class="waves-effect waves-light btn blue darken-2" href="/admin/import/importTags/">导入标签</a>
    <a class="waves-effect waves-light btn blue darken-2" href="/admin/import/exportPosts/">导出文章</a>
    <a class="waves-effect waves-light btn blue darken-2" href="/admin/import/importPosts/">导入文章</a>
<!-- 
    <div class="progress blue lighten-4">
        <div class="determinate  blue darken-4" v-bind:style="percent"></div>
    </div>
    <span v-text="now+'/'+total"></span>

    <pre id="console" style="height:300px;" v-text="output">
{{ session['console'] }}
    </pre> -->
</div>

{% endblock %} {% block script %}
<script>
    $(document).ready(() => {
        var output = $('#output');
        output.scrollTop(output.prop('scrollHeight'))
    });

    // vue = new Vue({
    //     el: '#app',
    //     data: {
    //         output: "",
    //         total: 100,
    //         now: 0,
    //         percent: ""
    //     },
    //     methods: {
    //         importTags: () => {
    //             console.log(1)
    //             vue.now += 1;
    //         },
    //         exportTags: () => {
    //             fetch('/admin/import/exportTags/');
    //         },
    //         importPosts: () => {
    //             console.log(1)
    //             vue.now += 1;
    //         },
    //         exportPosts: () => {
    //             console.log(1)
    //             vue.now += 1;
    //         },
    //     },
    //     computed: {

    //     },
    //     watch: {
    //         now: () => {
    //             if (vue.total != 0)
    //                 vue.percent = "width:" + vue.now / vue.total * 100 + "%";
    //         }
    //     }
    // })

    // var idx = 0;
    // var nowidx = 0;

    // function getData() {
    //     idx++;
    //     fetchData("/admin/import/console/", (data, callbackidx) => {
    //         console.log(data)
    //         console.log("callbackidx", callbackidx)
    //         console.log("nowidx", idx)
    //         if (callbackidx > nowidx) {
    //             nowidx = idx;
    //             vue.total = data.total;
    //             vue.now = data.now;
    //             vue.output = data.output;
    //         }
    //     }, idx);
    // }
    // getData();
    // setInterval(getData, 5000);
</script> {% endblock %}