{% extends "layout/admin.html" %} {% block admin_main %}

<div class="row">
    <div class="col s12">
        <div id="app">
            <div v-if="loading">{% include "layout/loading.html" %}</div>
            <form id="form" v-bind:action="form_action" method="post">
                <input id="published" name="published" type="hidden" v-model="post.published">
                <input id="oldurl" name="oldurl" type="hidden" v-model="oldurl">
                <div class="row ">
                    <div class="col s6 input-field">
                        <input id="title" name="title" type="text" v-model="post.title">
                        <label for="title">标题</label>
                    </div>
                    <div class="col s6 input-field">
                        <input id="url" name="url" type="text" v-model="post.url" class="validate" pattern="^[\w\-\.,@?^=%&:~\+#]+(?:\/[\w\-\.,@?^=%&:~\+#]+)*$">
                        <label for="url">链接</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 input-field">
                        <input id="time" name="time" type="text" v-model="post.time" class="validate" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$">
                        <label for="time">发布时间</label>
                    </div>
                    <div class="col s4 input-field">
                        <input id="updatetime" name="updatetime" type="text" v-model="post.updatetime" class="validate" pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$">
                        <label for="updatetime">修改时间</label>
                    </div>
                    <div class="col s2 input-field">
                        <input id="view" name="view" type="text" v-model="post.view" class="validate" pattern="^[0-9]+$">
                        <label for="view">阅读量</label>
                    </div>
                    <!-- <div class="col s2 input-field">
                        <input id="discuss" name="discuss" type="text" v-model="post.discuss" class="validate" pattern="^[0-9]+$">
                        <label for="discuss">评论量</label>
                    </div> -->
                </div>
                <div class="row">
                    <div class="chips"></div>
                    <input id="tags" name="tags" type="hidden" v-model="post.tagsstr">
                </div>
                <div class="row input-field">
                    <textarea id="textarea1" name="abstruct" class="materialize-textarea" v-model="post.abstruct"></textarea>
                    <label for="textarea1">摘要</label>
                </div>
                <div class="row input-field">
                    <textarea id="textarea1" name="raw" class="materialize-textarea" v-model="post.raw"></textarea>
                    <label for="textarea1">文章内容</label>
                </div>
                <div class="row center">
                    <a id="previewbutton" v-bind:class="buttonStyle" v-on:click="previewbuttonClick" class="waves-effect waves-light btn indigo lighten-1">预览</a>
                    <a id="draftbutton" v-bind:class="buttonStyle" v-on:click="draftbuttonClick" class="waves-effect waves-light btn indigo">草稿</a>
                    <a id="publishbutton" v-bind:class="buttonStyle" v-on:click="publishbuttonClick" class="waves-effect waves-light btn indigo darken-1">发布</a>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %} {% block script %}
<script>
    $('ul li#管理后台').toggleClass('active');

    var vue = new Vue({
        el: '#app',
        data: {
            post: {
                oldurl: "",
                title: "",
                tagstr: "",
                abstruct: "",
                raw: "",
                view: "0",
                //discuss: "0",
                time: "",
                updatetime: "",
                published: "0",
            },

            oldurl: "",
            loading: true,
            buttonStyle: "red",
            form_action: "",
        },
        methods: {
            previewbuttonClick: function() {
                syncTags();
                this.post.published = '0';
                this.$nextTick(function() {
                    $("#form").submit();
                })
                window.open("/post/" + vue.post.url);
            },
            draftbuttonClick: function() {
                syncTags();
                this.post.published = '0';
                this.$nextTick(function() {
                    $("#form").submit();
                })
            },
            publishbuttonClick: function() {
                syncTags();
                //this.$set(this.post, 'published', '1');
                this.post.published = '1';
                this.$nextTick(function() {
                    $("#form").submit();
                })
            }
        }
    })

    function syncTags() {
        var tags = $('.chips').material_chip('data');
        var tagsStr = "";
        for (i in tags) {
            tagsStr += tags[i]['tag'] + ',';
        }
        tagsStr = tagsStr.substring(0, tagsStr.length - 1);
        console.log(tagsStr);
        vue.post.tagsstr = tagsStr;
    }

    vue.$watch('post.time', check);
    vue.$watch('post.updatetime', check);
    vue.$watch('post.view', check);
    // vue.$watch('post.discuss', check);
    vue.$watch('post.url', check);

    function check() {
        var pattern = [
            /^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$/,
            /^[0-9]+$/,
            /^[\w\-\.,@?^=%&:~\+#]+(?:\/[\w\-\.,@?^=%&:~\+#]+)*$/
        ];

        if (!pattern[0].exec(vue.post.time) || !pattern[0].exec(vue.post.updatetime) ||
            !pattern[1].exec(vue.post.view) || !pattern[2].exec(vue.post.url)) {
            vue.buttonStyle = "disabled";
            console.log("wrong")
        } else {
            vue.buttonStyle = "";
            console.log("right")
        }
    }


    //check();

    var Post = "{{ Post }}";
    var nowTime = "{{ nowtime }}"
    console.log(Post)

    $(document).ready(function() {
        if (Post == '') {
            // 新文章
            vue.form_action = "/admin/posts/add/"
            vue.post.time = nowTime;
            vue.post.updatetime = nowTime;
            $('.chips').material_chip({
                placeholder: '输入标签',
                secondaryPlaceholder: '继续添加',
            });
            vue.$nextTick($ => Materialize.updateTextFields());
            vue.loading = false;
        } else {
            // 修改老文章
            vue.form_action = "/admin/posts/update/"

            vue.loading = true;
            fetchData('/api/post/' + Post, data => {
                vue.post = data;
                vue.oldurl = vue.post.url;
                vue.post.updatetime = nowTime;

                var tagList = vue.post.tagsstr.split(',');
                var formattedTagList = []
                for (var tag in tagList) {
                    formattedTagList.push({
                        'tag': tagList[tag]
                    })
                }

                $('.chips').material_chip({
                    placeholder: '输入标签',
                    secondaryPlaceholder: '继续添加',
                    data: formattedTagList
                });

                vue.$nextTick(function() {
                    Materialize.updateTextFields();
                    vue.loading = false;
                });
            });
        }
    });
</script> {% endblock %}