<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <p>
                    <img src="/static/img/logo-reverse.png" alt="logo" width="100px">

                    <address>
                        <strong>河南省茉莉餐饮管理有限公司</strong>
                        <br>
                        <abbr>电话:</abbr>0394-8376969
                    </address>
                </p>
                <p>全站访客
                    <span>{{ Site['view'].value }}</span>
                </p>
                <p class="links">
                    <a href="http://www.miitbeian.gov.cn/">{{ Site['beian'].value }}</a>

                </p>
                <p class="links" style="display:none">
                    <span>
                        <a href="/sitemap.xml">sitemap.xml</a>
                    </span>
                    <span>
                        <a href="/sitemap.txt">sitemap.txt</a>
                    </span>
                </p>
            </div>


            <div class="col-lg-5">
                <ul class="list-unstyled">
                    <li>
                        <address>
                            <strong>茉莉餐厅1店</strong>
                            <br> 周口市汉阳路与交通路交叉口向南200米路东
                            <br>
                            <abbr>电话:</abbr>0394-8968888/8766969
                        </address>
                    </li>
                    <li>
                        <address>
                            <strong>茉莉餐厅2店</strong>
                            <br> 周口市光荣路与安居路交叉口
                            <br>
                            <abbr>电话:</abbr>0394-8756969/8766969
                        </address>
                    </li>
                    <li>
                        <address>
                            <strong>茉莉餐厅淮阳店</strong>
                            <br>
                            <abbr>电话:</abbr>0394-2886969/2866969
                        </address>
                    </li>
                    <li>
                        <address>
                            <strong>茉莉餐厅鹿邑店</strong>
                            <br>
                            <abbr>电话:</abbr>0394-7235555/7233555
                        </address>
                    </li>
                </ul>
            </div>


            <div class="col-lg-2">
                <img src="/static/img/wechat.png" alt="logo" width="100%">
                <p class="text-center">官方微信</p>
            </div>

        </div>
    </div>
</footer>