<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <img class="center-block" src="/static/img/logo_white.png" alt="logo" width="70px" />
                <div class="row text-center links bold">
                    <a href="https://www.oyohyee.com/">OhYee</a>
                </div>
            </div>
            <div class="col-sm-6">

                <p>全站访客
                    <span>{{ Site['view'].value }}</span>
                </p>
                <p class="links">
                    <a href="http://www.miitbeian.gov.cn/">{{ Site['beian'].value }}</a>

                </p>
                <p class="links">内部链接:
                    <span>
                        <a href="/sitemap.xml">sitemap.xml</a>
                    </span>
                    <span>
                        <a href="/sitemap.txt">sitemap.txt</a>
                    </span>
                    <span>
                        <a href="/rss/top20/">RSS(latest)</a>
                    </span>
                    <span>
                        <a href="/rss/all/">RSS(all)</a>
                    </span>
                </p>
                <p class="links">致谢:
                    <span class="links">
                        <a href="https://www.python.org/">Python</a>
                    </span>
                    <span class="links">
                        <a href="https://github.com/pallets/flask">Flask</a>
                    </span>
                    <span class="links">
                        <a href="https://github.com/vuejs/vue">Vue.js</a>
                    </span>
                    <span class="links">
                        <a href="https://github.com/twbs/bootstrap">Bootstrap</a>
                    </span>
                    <span class="links">
                        <a href="http://glyphicons.com/">Glyphicons</a>
                    </span>
                </p>
                <p>
                    友情链接:{% for friend in Site["friends"] %}
                    <span class="links">
                        <a href="{{ friend['url'] }}">{{ friend['name'] }}</a>
                    </span> {% endfor %}
                </p>
            </div>


            <div class="col-sm-4">
                <span class="links">
                    Powered by
                    <a href="https://github.com/OhYee/OBlog">OBlog</a>
                </span>
                <ul class="list-unstyled">
                    <li>
                        <iframe src="https://ghbtns.com/github-btn.html?user=OhYee&amp;repo=OBlog&amp;type=star&amp;count=true"
                            frameborder="0" scrolling="0" width="130px" height="20px"></iframe>
                    </li>
                    <li>
                        <iframe src="https://ghbtns.com/github-btn.html?user=OhYee&amp;repo=OBlog&amp;type=watch&amp;count=true&amp;v=2"
                            frameborder="0" scrolling="0" width="130px" height="20px"></iframe>
                    </li>
                    <li>
                        <iframe src="https://ghbtns.com/github-btn.html?user=OhYee&amp;repo=OBlog&amp;type=fork&amp;count=true"
                            frameborder="0" scrolling="0" width="130px" height="20px"></iframe>
                    </li>
                    <li>
                        <iframe src="https://ghbtns.com/github-btn.html?user=OhYee&type=follow&count=true" frameborder="0"
                            scrolling="0" width="170px" height="20px"></iframe>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>