

<!-- meta标签 开始 -->
{% include 'layout/meta.html' %}
<!-- meta标签 结束-->

<link rel="shortcut icon" href="/static/img/favicon.ico">
<link rel="icon" sizes="196x196" href="/static/logo_196x196.png">
<link rel="apple-touch-icon-precomposed" href="/static/logo_76x76.png">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/logo_76x76.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/logo_120x120.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/logo_152x152.png">

<!-- js css 引入开始 -->
{% include 'layout/jscss.html' %}
<!-- js css 引入结束 -->