<header>

    <nav class="navbar navbar-static-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <span style="bottom: 0"><img src="/static/img/logo-transparent.png" height=32px></span>
                    <span>{{ Site['sitename'].value }}</span>
                </a>

                <a type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                    <span class="sr-only">切换导航</span>
                </a>
            </div>

            <ul class="nav navbar-nav collapse navbar-collapse" id="navbar-collapse">
                <!-- <li id="index">
                    <a href="/">首页</a>
                </li> -->
                {% for page in Site['pages'] %}{% if Site['pages'][page]['show']=='true' %}
                <li id="{{ Site['pages'][page]['url'] }}">
                    <a href="/pages/{{ Site['pages'][page]['url'] }}/">{{ Site['pages'][page]['title'] }}
                    </a>
                    {% endif %}
                </li> {% endfor %} {% if session['admin'] %}
                <li id='admin'>
                    <a href="/admin/">管理后台</a>
                </li>
                <li>
                    <a href="/admin/logout/">退出登陆</a>
                </li>{% endif %}
            </ul>

            <p class="navbar-text visible-lg-inline">加盟热线:0394-8376969</p>
        </div>
    </nav>



</header>