<!doctype html>
<html lang="zh">

<head>
    <title>
        {% block title %}{% if thisPage and thisPage in Site['pages'] %}{{ Site['pages'][thisPage].title }}|{% endif %}{{ Site['sitename'].value }} {% endblock %}
    </title>
    {% block meta %}{% endblock %} {% include 'layout/head.html' %}
</head>

<body>
    {% include 'layout/header.html' %}
    <main>
        {% block content %} {% endblock %}
    </main>


    {% include 'layout/footer.html' %} {% block script %} {% if thisPage and thisPage in Site['pages'] %}
    <script>
        $("ul li#{{ thisPage }}").toggleClass('active');
    </script> {% endif %} {% endblock %}
</body>

</html>