{% extends "layout/layout.html" %} {% block title %}418 I'm a teapot|{{ super() }}{% endblock %}{% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="text-center">
                <b>
                    418 I'm a teapot.
                </b>
            </div>
        </div>
        <div class="panel-body">
            <div class="text-center">
                您错误使用了该页面.
                <br> 就如同想用茶壶倒咖啡一样.

            </div>
        </div>

        <div class="panel-footer">
            <div class="text-right">
                <a class="btn btn-default " href="/archives/" role="button">随便看看都有什么</a>
                <a class="btn btn-primary " href="/" role="button">返回首页</a>
            </div>
        </div>
    </div>
    {% endblock %}