{% extends "layout/layout.html" %} {% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-center">
                <b>
                    欢迎来到我的博客
                </b>
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12 col-lg-3">
                    <img class="img-responsive" src="/static/img/logo.svg" />
                </div>
                <div class="col-sm-12 col-lg-9">
                    <div class="row center">
                        <div class="col-sm-4 bold">
                            姓名
                        </div>
                        <div class="col-sm-8">
                            孔晨皓
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-sm-4 bold">
                            QQ
                        </div>
                        <div class="col-sm-8">
                            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=896817156&site=qq&menu=yes">896817156</a>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-sm-4 bold">
                            Email
                        </div>
                        <div class="col-sm-8">
                            <a href="mailto:oyohyee@oyohyee.com">oyohyee@oyohyee.com</a>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-sm-4 bold">
                            主页
                        </div>
                        <div class="col-sm-8">
                            <a href="https://www.oyohyee.com">https://www.oyohyee.com</a>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-sm-4 bold">
                            知乎
                        </div>
                        <div class="col-sm-8">
                            <a href="https://www.zhihu.com/people/kong-chen-hao">孔晨皓</a>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-sm-4 bold">
                            GitHub
                        </div>
                        <div class="col-sm-8">
                            <a href="https://github.com/OhYee">OhYee</a>
                        </div>
                    </div>
                </div>
            </div>


            <hr>


            <h3>教育经历</h3>
            <div class="row center">
                <div class="col-sm-4">
                    本科
                </div>
                <div class="col-sm-4">
                    安徽大学
                </div>
                <div class="col-sm-4">
                    通信工程
                </div>
            </div>


            <hr>
            

            <h3>获奖经历</h3>
            <ul>
                <li>
                    <a href="/static/img/noip.jpg">【二等奖】 - NOIP复赛</a>
                </li>
                <li>
                    <a href="/static/img/qingdao.jpg">【铜&nbsp;&nbsp;&nbsp;&nbsp;奖】 - 2016 ACM/ICPC 亚洲赛区 青岛站</a>
                </li>
                <li>
                    <a href="/static/img/2017.jpg">【一等奖】 - 2017年安徽省”华信智原”杯</a>
                </li>
                <li>
                    <a href="/static/img/3u.jpg">【三等奖】 - 第七届全国大学生电子商务”创新、创意以及创业”挑战赛总决赛</a>
                </li>
                <li>
                    <a href="/static/img/shenyang.png">【铜&nbsp;&nbsp;&nbsp;&nbsp;奖】 - 2017 ACM/ICPC 亚洲赛区 沈阳站</a>
                </li>
                <li class="bold">
                    <a href="/static/img/qinhuangdao.png">【银&nbsp;&nbsp;&nbsp;&nbsp;奖】 - 第三届中国大学生程序设计竞赛(秦皇岛) (2017 CCPC)</a>
                </li>
                <li>
                    <a href="/static/img/qingdao2.png">【铜&nbsp;&nbsp;&nbsp;&nbsp;奖】 - 2017 ACM/ICPC 亚洲赛区 青岛站 铜奖</a>
                </li>
                <li>
                    <a href="/static/img/csp.png">第十二次CCF计算机软件能力认证 总分: 360</a>
                </li>
            </ul>


            <hr>

            <h3>成果展示</h3>
            <ul>
                <li class="bold">
                    <a href="/">OBlog博客系统</a>
                </li>
                <li>
                    <a href="/projects/portable">U盘编译环境</a>
                </li>
                <li>
                    <a href="http://www.bilibili.com/video/av3197097/" target="_blank" rel="external">我的世界已坠入爱河</a>
                </li>
                <li>
                    <a href="http://www.bilibili.com/video/av9039463/" target="_blank" rel="external">Blessing 安大版</a>
                </li>
                <li>辅导员评选介绍视频 </li>
            </ul>


        </div>

    </div>
</div>
{% endblock %}