{% extends "admin/layout.html" %} {% block title %}标签管理-管理员界面{% endblock %}{% block admin_content %}

<div class="row">
    <div class="col-sm-3">链接</div>
    <div class="col-sm-3">名称</div>
    <div class="col-sm-3">索引</div>
    <div class="col-sm-3">修改</div>

</div>
{% from 'macro/form.macro' import simple_input %}

<div class="row">
    <div class="form-group" :class="add.class">
        <div class="row">
            <div class="col-sm-3">
                {{ simple_input('add.url','链接',click='clear(-1)') }}
            </div>
            <div class="col-sm-3">
                {{ simple_input('add.name',"名称",click='clear(-1)') }}
            </div>
            <div class="col-sm-3">
                {{ simple_input('add.idx',"索引",click='clear(-1)') }}
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary" @click="submit('add')">新建</button>
            </div>
        </div>
        <div class="row">
            <span id="hint" class="help-block" v-html="add.hint"></span>
        </div>
    </div>
</div>

<hr>

<div v-if="loading">{% include 'layout/loading.html' %}</div>
<div v-if="!loading">
    <div class="form-group" v-for="(friend,idx) in friends" :class="friend.class" v-if="friend.exist">
        <div class="row">
            <div class="col-sm-3">
                {{ simple_input('friend.url','链接',click='clear(idx)') }}
            </div>
            <div class="col-sm-3">
                {{ simple_input('friend.name',"名称",click='clear(idx)') }}
            </div>
            <div class="col-sm-3">
                {{ simple_input('friend.idx',"索引",click='clear(idx)') }}
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-default" @click="submit('update',idx)">修改</button>
                <button type="submit" class="btn btn-danger" @click="submit('delete',idx)">删除</button>
            </div>
        </div>
        <div class="row">
            <span id="hint" class="help-block" v-html="friend.hint" @click="clear(idx)"></span>
        </div>
    </div>
</div>



{% endblock %} {% block script %}{% from 'macro/json.macro' import json with context %}{{ json(Site['friends']) }} {% from 'macro/script.macro' import script with context %}{{ script('admin/js/friends.js') }} {% endblock %}