{% extends "layout/layout.html" %} {% block title %}管理员界面{% endblock %}{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-sm-12">
            <ul class="nav nav-pills nav-stacked">
                <li id="admin-sidebar-1" role="presentation">
                    <a href="/admin/">管理首页</a>
                </li>
                <li id="admin-sidebar-2" role="presentation">
                    <a href="/admin/pages/">页面管理</a>
                </li>
                <li id="admin-sidebar-3" role="presentation">
                    <a href="/admin/posts/">文章管理</a>
                </li>
                <li id="admin-sidebar-4" role="presentation">
                    <a href="javascript:alert('待填坑');">商品管理</a>
                </li>
                <li id="admin-sidebar-5" role="presentation">
                    <a href="/admin/tags/">标签管理</a>
                </li>
                <li id="admin-sidebar-6" role="presentation">
                    <a href="/admin/friends/">友情链接管理</a>
                </li>
                <li id="admin-sidebar-7" role="presentation">
                    <a href="/admin/images/">图片管理</a>
                </li>
                <li id="admin-sidebar-8" role="presentation">
                    <a href="/admin/comments/">评论区管理</a>
                </li>
            </ul>
        </div>
        <div id="app" class="col-lg-10 col-sm-12">
            {% block admin_content %} {% endblock %}
        </div>
    </div>
</div>

{% endblock %}