{% extends "admin/layout.html" %} {% block title %}页面模板-管理员界面{% endblock %}{% block admin_content %}

<div v-bind:class="pathClass">
    <div class="input-group" v-bind:class="pathClass">
        <span class="input-group-addon" id="path">./back/theme/default/pages/</span>
        <input type="text" class="form-control" aria-describedby="path" v-model="path" name="path" placeholder="文件名">
        <span class="input-group-addon" id="path">.html</span>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" @click="submit('update')">修改</button>
            <button class="btn btn-danger" type="button" @click="submit('delete')">删除</button>
        </span>
    </div>
    <span id="path" class="help-block" v-html="hint"></span>

</div>
<ul class="list-inline">
    <li v-for="filename in pageList">
        <a @click="setfilename(filename)" v-text="filename"></a>
    </li>
</ul>

<div v-if="!loading" class="form-horizontal">
    <span id="content" class="help-block">
        建议在技术人员指导下修改该部分内容
    </span>
    <textarea class="form-control" aria-describedby="content" rows="30" v-model="content"></textarea>
</div>
<div v-if="loading">{% include 'layout/loading.html' %}</div>



{% endblock %} {% block script %} {% from 'macro/script.macro' import script with context %}{{ script('admin/js/page_edit.js') }}{{ super() }}
{% endblock %}