{% extends "admin/layout.html" %} {% block title %}页面管理-管理员界面{% endblock %}{% block admin_content %}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="input-group">
            <label class="sr-only" for="searchtext">快速搜索</label>
            <input type="text" class="form-control" id="searchtext" placeholder="快速搜索" v-model="searchtext" aria-describedby="searchtextHint">
            <span class="input-group-btn">
                <button class="pull-right btn btn-primary" type="button" @click="listReverse">逆序</button>
            </span>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-3">链接</div>
    <div class="col-sm-3">标题</div>
    <div class="col-sm-3">索引顺序</div>
    <div class="col-sm-3">操作</div>

</div>

{% from 'macro/form.macro' import simple_input %} {% from 'macro/tag.macro' import vue_tag %}

<div class="row">
    <div class="form-group" :class="add.class">
        <div class="col-sm-3">
            {{ simple_input('add.url',"链接",click="clear(-1)") }}
        </div>
        <div class="col-sm-3">
            {{ simple_input('add.title',"标题",click="clear(-1)") }}

        </div>
        <div class="col-sm-3">
            {{ simple_input('add.idx',"索引顺序",click="clear(-1)") }}
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary" @click="submit('add')">新建</button>
            <a class="btn btn-default" href="/admin/pages/edit/" role="button">页面模板编辑</a>
        </div>
        <span id="helpBlock" class="help-block" v-html="add.hint"></span>
    </div>
</div>

<hr>


<div v-if="!loading">
    <div class="form-group" v-for="(page,idx) in pages" v-if="page.exist&&page.match" :class="page.class">
        <div class="row">
            <div class="col-sm-2">
                {{ simple_input('page.url',"链接",click="clear(idx)") }}
            </div>
            <div class="col-sm-3">
                {{ simple_input('page.title',"标题",click="clear(idx)") }}

            </div>
            <div class="col-sm-1">
                {{ simple_input('page.idx',"索引顺序",click="clear(idx)") }}

            </div>
            <div class="col-sm-2">
                <label class="checkbox">
                    <input type="checkbox" id="show" v-model="page.show" @input="clear(idx)">导航栏显示
                </label>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary" @click="submit('update', idx)">修改</button>
                <button type="submit" class="btn btn-danger" @click="submit('delete', idx)">删除</button>
            </div>
        </div>
        <div class="row">
            <span :id="page.url" class="help-block push-right" v-html="page.hint"></span>
        </div>
    </div>
</div>
<div v-if="loading">{% include 'layout/loading.html' %}</div>


{% endblock %} {% block script %}{% from 'macro/json.macro' import json with context %}{{ json(Site.pages) }} {% from 'macro/script.macro'
import script with context %}{{ script('admin/js/pages.js') }}{{ super() }} {% endblock %}