{% extends "admin/layout.html" %} {% block title %}页面管理-管理员界面{% endblock %}{% block admin_content %}

<div class="row">
    <div class="col-sm-3">链接</div>
    <div class="col-sm-3">标题</div>
    <div class="col-sm-3">索引顺序</div>
    <div class="col-sm-3">操作</div>

</div>

<div class="row">
    <div class="form-group" :class="add.class">
        <div class="col-sm-3">
            <input type="text" class="form-control" id="url" placeholder="链接" v-model="add.url" @input="clear(-1)">
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="title" placeholder="标题" v-model="add.title" @input="clear(-1)">
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="idx" placeholder="索引顺序" v-model="add.idx" @input="clear(-1)">
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary" @click="submit('add')">新建</button>
            <a class="btn btn-default" href="/admin/pages/edit/" role="button">页面模板编辑</a>
        </div>
        <span id="helpBlock" class="help-block" v-html="add.hint"></span>
    </div>
</div>

<hr>

<div v-if="loading">{% include 'layout/loading.html' %}</div>
<div v-if="!loading">
    <div class="form-group" v-for="(page,idx) in pages" v-if="page.exist" :class="page.class">
        <div class="row">
            <div class="col-sm-2">
                <input type="text" class="form-control" id="url" placeholder="链接" v-model="page.url" @input="clear(idx)" :aria-describedby="page.url">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="title" placeholder="标题" v-model="page.title" @input="clear(idx)">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="idx" placeholder="索引顺序" v-model="page.idx" @input="clear(idx)">
            </div>
            <div class="col-sm-2">
                <label class="checkbox">
                    <input type="checkbox" id="show" v-model="page.show" @input="clear(idx)">导航栏显示
                </label>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary" @click="submit('update', idx)">修改</button>
                <button type="submit" class="btn btn-danger" @click="submit('delete', idx)">删除</button>
            </div>
        </div>
        <div class="row">
            <span :id="page.url" class="help-block push-right" v-html="page.hint"></span>
        </div>
    </div>
</div>



{% endblock %} {% block script %}{% from 'macro/json.macro' import json with context %}{{ json(Site.pages) }} {% from 'macro/script.macro' import script with context %}{{ script('admin/js/pages.js') }}
{% endblock %}