{% extends "admin/layout.html" %} {% block title %}页面模板-管理员界面{% endblock %}{% block admin_content %} {# 引入宏 #}{% from 'macro/form.macro'
import input %}
<alert id="alert" :alert="alert" @close="close"></alert>


<div v-if="!loading" class="form-group">
    <div class="row">
        <div class="col-sm-4">
            {{ input("title","文章标题") }}
        </div>
        <div class="col-sm-4">
            {{ input("url","文章链接") }}
        </div>
        <div class="col-sm-4">
            {{ input("img","题图") }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            {{ input("time","发布时间") }}
        </div>
        <div class="col-sm-5">
            {{ input("updatetime","更新时间") }}
        </div>
        <div class="col-sm-2">
            {{ input("view","访问量","number") }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ input("tags","标签") }}
        </div>
    </div>

    <div class="row form-group">
        <label class="sr-only" for="abstruct">摘要</label>
        <textarea class="form-control" id="abstruct" aria-describedby="abstructHint" rows="5" v-model="abstruct" placeholder="文章摘要"></textarea>
    </div>


    <div class="row form-group">
        <label class="sr-only" for="abstruct">正文</label>
        <textarea id="raw" class="form-control" aria-describedby="rawHint" rows="20" v-model="raw" placeholder="文章正文(支持markdown，mathjax)"></textarea>
    </div>

</div>
<div v-if="loading">{% include 'layout/loading.html' %}</div>


<div class="row form-group">
    <label class="pull-left checkbox">
        <input type="checkbox" id="published" v-model="published">正式发布
    </label>
    <button class="pull-right btn btn-primary" type="button" @click="submit">提交</button>
</div>

{% endblock %} {% block script %} {% from 'macro/json.macro' import json with context %}{{ json(post) }} {% from 'macro/script.macro'
import script with context %}{{ script('admin/js/post_edit.js') }} {{ super() }}{% endblock %}