{% extends "admin/layout.html" %} {% block title %}标签管理-管理员界面{% endblock %}{% block admin_content %}

<div class="row">
    <div class="col-sm-2">名称</div>
    <div class="col-sm-2">映射</div>
    <div class="col-sm-2">图片</div>
    <div class="col-sm-2">样式</div>
    <div class="col-sm-2">数量</div>
    <div class="col-sm-2">修改</div>

</div>
{% from 'macro/form.macro' import simple_input %} {% from 'macro/tag.macro' import vue_tag %}


<div v-if="!loading">
    <div class="form-group" v-for="(tag,idx) in tags" :class="tag.blockClass">
        <div class="row">
            <div class="col-sm-2">
                {{ vue_tag('tag') }}
            </div>
            <div class="col-sm-2">
                {{ simple_input('tag.newenglish',"映射") }}
            </div>
            <div class="col-sm-2">
                {{ simple_input('tag.img',"图片") }}
            </div>
            <div class="col-sm-2">
                {{ simple_input('tag.class',"样式") }}
            </div>
            <div class="col-sm-2" v-text="tag.cnt">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary" @click="submit(idx)">修改</button>
            </div>
        </div>
        <div class="row">
            <span id="hint" class="help-block" v-html="tag.hint" @click="clear(idx)"></span>
        </div>
    </div>
</div>
<div v-if="loading">{% include 'layout/loading.html' %}</div>


{% endblock %} {% block script %}{% from 'macro/json.macro' import json with context %}{{ json(tags) }} {% from 'macro/script.macro'
import script with context %}{{ script('admin/js/tags.js') }} {{ super() }}{% endblock %}