{% extends "layout/layout.html" %} {% block title %}评论区{% endblock %} {% block meta %} {% endblock %} {% block content %}


<div class="row">
    <div class="col l8 offset-l2 s12">
        {% set discuss_url="discuss" %}
        {% include "layout/discuss.html" %}
    </div>
</div>


{% endblock %} {% block script %}
<script>
    $('ul li#讨论区').toggleClass('active');

    // var options = [{
    //     selector: '.discuss-card',
    //     offset: 0,
    // },];
    // Materialize.scrollFire(options);



</script> {% endblock %}