{% extends "layout/layout.html" %} {% block content %}
<i class="material-icons">Action</i>
<i class="material-icons">important_devices</i>
<i class="material-icons">replay_30</i>
<i class="material-icons">receipt</i>
<i class="material-icons">settings</i>
<i class="material-icons">forum</i>
<i class="material-icons">library_books</i>
<i class="material-icons">recent_actors</i>
<i class="material-icons">replay</i>
<i class="material-icons">book</i>
<i class="material-icons">tab</i>
<i class="material-icons">movie</i>
<i class="material-icons">trending_flat</i>
<i class="material-icons">label_outline</i>
<i class="material-icons">language</i>
<i class="material-icons">phonelink_ring</i>
<i class="material-icons">import_export</i>
<i class="material-icons">add_alert</i>
<i class="material-icons">cached</i>
<i class="material-icons">play_arrow</i>
<i class="material-icons">picture_in_picture_alt</i>
<i class="material-icons">thumb_up</i>
<i class="material-icons">trending_up</i>
<i class="material-icons">queue</i>
<i class="material-icons">turned_in</i>
<i class="material-icons">date_range</i>
<i class="material-icons">query_builder</i>
<i class="material-icons">explore</i>
<i class="material-icons">settings_input_composite</i>
<i class="material-icons">find_in_page</i>
<i class="material-icons">av_timer</i>
<i class="material-icons">repeat_one</i>
<i class="material-icons">volume_mute</i>
<i class="material-icons">perm_identity</i>
<i class="material-icons">lock_outline</i>
<i class="material-icons">shop</i>
<i class="material-icons">Notification</i>
<i class="material-icons">call</i>
<i class="material-icons">group_work</i>
<i class="material-icons">repeat</i>
<i class="material-icons">change_history</i>
<i class="material-icons">volume_off</i>
<i class="material-icons">fingerprint</i>
<i class="material-icons">replay_10</i>
<i class="material-icons">phonelink_erase</i>
<i class="material-icons">settings_voice</i>
<i class="material-icons">thumb_down</i>
<i class="material-icons">pause_circle_filled</i>
<i class="material-icons">fast_forward</i>
<i class="material-icons">open_with</i>
<i class="material-icons">credit_card</i>
<i class="material-icons">assignment_turned_in</i>
<i class="material-icons">help</i>
<i class="material-icons">settings_ethernet</i>
<i class="material-icons">code</i>
<i class="material-icons">perm_camera_mic</i>
<i class="material-icons">verified_user</i>
<i class="material-icons">settings_cell</i>
<i class="material-icons">class</i>
<i class="material-icons">pause_circle_outline</i>
<i class="material-icons">settings_power</i>
<i class="material-icons">Navigation</i>
<i class="material-icons">open_in_new</i>
<i class="material-icons">room</i>
<i class="material-icons">aspect_ratio</i>
<i class="material-icons">perm_contact_calendar</i>
<i class="material-icons">video_library</i>
<i class="material-icons">stay_primary_portrait</i>
<i class="material-icons">subtitles</i>
<i class="material-icons">pregnant_woman</i>
<i class="material-icons">chrome_reader_mode</i>
<i class="material-icons">theaters</i>
<i class="material-icons">build</i>
<i class="material-icons">supervisor_account</i>
<i class="material-icons">hearing</i>
<i class="material-icons">speaker_notes</i>
<i class="material-icons">spellcheck</i>
<i class="material-icons">Editor</i>
<i class="material-icons">input</i>
<i class="material-icons">swap_vertical_circle</i>
<i class="material-icons">shopping_cart</i>
<i class="material-icons">account_circle</i>
<i class="material-icons">chat_bubble</i>
<i class="material-icons">view_stream</i>
<i class="material-icons">polymer</i>
<i class="material-icons">Toggle</i>
<i class="material-icons">mic_none</i>
<i class="material-icons">mode_edit</i>
<i class="material-icons">dialpad</i>
<i class="material-icons">phonelink_setup</i>
<i class="material-icons">call_merge</i>
<i class="material-icons">check_circle</i>
<i class="material-icons">power_settings_new</i>
<i class="material-icons">flip_to_back</i>
<i class="material-icons">info</i>
<i class="material-icons">album</i>
<i class="material-icons">error</i>
<i class="material-icons">print</i>
<i class="material-icons">today</i>
<i class="material-icons">search</i>
<i class="material-icons">view_list</i>
<i class="material-icons">settings_backup_restore</i>
<i class="material-icons">zoom_out</i>
<i class="material-icons">present_to_all</i>
<i class="material-icons">track_changes</i>
<i class="material-icons">pets</i>
<i class="material-icons">view_headline</i>
<i class="material-icons">account_balance_wallet</i>
<i class="material-icons">stop</i>
<i class="material-icons">mic</i>
<i class="material-icons">favorite_border</i>
<i class="material-icons">redeem</i>
<i class="material-icons">line_weight</i>
<i class="material-icons">gavel</i>
<i class="material-icons">call_split</i>
<i class="material-icons">bookmark</i>
<i class="material-icons">payment</i>
<i class="material-icons">swap_horiz</i>
<i class="material-icons">view_array</i>
<i class="material-icons">perm_phone_msg</i>
<i class="material-icons">picture_in_picture</i>
<i class="material-icons">thumbs_up_down</i>
<i class="material-icons">replay_5</i>
<i class="material-icons">account_balance</i>
<i class="material-icons">tab_unselected</i>
<i class="material-icons">event_seat</i>
<i class="material-icons">get_app</i>
<i class="material-icons">invert_colors_off</i>
<i class="material-icons">view_module</i>
<i class="material-icons">label</i>
<i class="material-icons">card_travel</i>
<i class="material-icons">note_add</i>
<i class="material-icons">library_music</i>
<i class="material-icons">games</i>
<i class="material-icons">offline_pin</i>
<i class="material-icons">textsms</i>
<i class="material-icons">Device</i>
<i class="material-icons">list</i>
<i class="material-icons">voicemail</i>
<i class="material-icons">alarm_on</i>
<i class="material-icons">find_replace</i>
<i class="material-icons">ring_volume</i>
<i class="material-icons">loop</i>
<i class="material-icons">extension</i>
<i class="material-icons">work</i>
<i class="material-icons">Communication</i>
<i class="material-icons">motorcycle</i>
<i class="material-icons">hourglass_empty</i>
<i class="material-icons">perm_data_setting</i>
<i class="material-icons">stay_current_landscape</i>
<i class="material-icons">call_received</i>
<i class="material-icons">add_shopping_cart</i>
<i class="material-icons">email</i>
<i class="material-icons">settings_overscan</i>
<i class="material-icons">toc</i>
<i class="material-icons">radio</i>
<i class="material-icons">videocam</i>
<i class="material-icons">queue_music</i>
<i class="material-icons">account_box</i>
<i class="material-icons">volume_up</i>
<i class="material-icons">g_translate</i>
<i class="material-icons">https</i>
<i class="material-icons">settings_input_svideo</i>
<i class="material-icons">forward_30</i>
<i class="material-icons">view_column</i>
<i class="material-icons">dashboard</i>
<i class="material-icons">play_circle_filled</i>
<i class="material-icons">info_outline</i>
<i class="material-icons">not_interested</i>
<i class="material-icons">dns</i>
<i class="material-icons">explicit</i>
<i class="material-icons">settings_applications</i>
<i class="material-icons">view_day</i>
<i class="material-icons">restore</i>
<i class="material-icons">zoom_in</i>
<i class="material-icons">all_out</i>
<i class="material-icons">delete</i>
<i class="material-icons">Maps</i>
<i class="material-icons">call_end</i>
<i class="material-icons">Image</i>
<i class="material-icons">new_releases</i>
<i class="material-icons">bug_report</i>
<i class="material-icons">event</i>
<i class="material-icons">alarm</i>
<i class="material-icons">forward_5</i>
<i class="material-icons">assignment</i>
<i class="material-icons">message</i>
<i class="material-icons">question_answer</i>
<i class="material-icons">markunread_mailbox</i>
<i class="material-icons">loyalty</i>
<i class="material-icons">Alert</i>
<i class="material-icons">assignment_returned</i>
<i class="material-icons">favorite</i>
<i class="material-icons">gif</i>
<i class="material-icons">phone</i>
<i class="material-icons">exit_to_app</i>
<i class="material-icons">File</i>
<i class="material-icons">assignment_return</i>
<i class="material-icons">backup</i>
<i class="material-icons">translate</i>
<i class="material-icons">report_problem</i>
<i class="material-icons">chat</i>
<i class="material-icons">high_quality</i>
<i class="material-icons">compare_arrows</i>
<i class="material-icons">lock_open</i>
<i class="material-icons">autorenew</i>
<i class="material-icons">mic_off</i>
<i class="material-icons">dialer_sip</i>
<i class="material-icons">help_outline</i>
<i class="material-icons">assignment_late</i>
<i class="material-icons">surround_sound</i>
<i class="material-icons">settings_bluetooth</i>
<i class="material-icons">swap_vert</i>
<i class="material-icons">business</i>
<i class="material-icons">record_voice_over</i>
<i class="material-icons">perm_media</i>
<i class="material-icons">alarm_add</i>
<i class="material-icons">alarm_off</i>
<i class="material-icons">settings_remote</i>
<i class="material-icons">navigation</i>
<i class="material-icons">comment</i>
<i class="material-icons">bookmark_border</i>
<i class="material-icons">subject</i>
<i class="material-icons">settings_phone</i>
<i class="material-icons">assessment</i>
<i class="material-icons">shop_two</i>
<i class="material-icons">eject</i>
<i class="material-icons">http</i>
<i class="material-icons">location_off</i>
<i class="material-icons">accessibility</i>
<i class="material-icons">snooze</i>
<i class="material-icons">view_carousel</i>
<i class="material-icons">invert_colors</i>
<i class="material-icons">copyright</i>
<i class="material-icons">settings_input_antenna</i>
<i class="material-icons">location_on</i>
<i class="material-icons">perm_scan_wifi</i>
<i class="material-icons">donut_medium</i>
<i class="material-icons">done_all</i>
<i class="material-icons">web</i>
<i class="material-icons">person_pin</i>
<i class="material-icons">settings_input_component</i>
<i class="material-icons">Social</i>
<i class="material-icons">call_made</i>
<i class="material-icons">stars</i>
<i class="material-icons">android</i>
<i class="material-icons">stay_primary_landscape</i>
<i class="material-icons">card_giftcard</i>
<i class="material-icons">settings_input_hdmi</i>
<i class="material-icons">lightbulb_outline</i>
<i class="material-icons">delete_forever</i>
<i class="material-icons">launch</i>
<i class="material-icons">forward_10</i>
<i class="material-icons">shopping_basket</i>
<i class="material-icons">accessible</i>
<i class="material-icons">videocam_off</i>
<i class="material-icons">settings_brightness</i>
<i class="material-icons">contacts</i>
<i class="material-icons">live_help</i>
<i class="material-icons">star</i>
<i class="material-icons">open_in_browser</i>
<i class="material-icons">New</i>
<i class="material-icons">visibility_off</i>
<i class="material-icons">toll</i>
<i class="material-icons">pause</i>
<i class="material-icons">playlist_add</i>
<i class="material-icons">turned_in_not</i>
<i class="material-icons">contact_phone</i>
<i class="material-icons">perm_device_information</i>
<i class="material-icons">history</i>
<i class="material-icons">flight_land</i>
<i class="material-icons">phonelink_lock</i>
<i class="material-icons">skip_next</i>
<i class="material-icons">pan_tool</i>
<i class="material-icons">flip_to_front</i>
<i class="material-icons">swap_calls</i>
<i class="material-icons">hd</i>
<i class="material-icons">view_quilt</i>
<i class="material-icons">play_circle_outline</i>
<i class="material-icons">assignment_ind</i>
<i class="material-icons">home</i>
<i class="material-icons">lock</i>
<i class="material-icons">youtube_searched_for</i>
<i class="material-icons">3d_rotation</i>
<i class="material-icons">skip_previous</i>
<i class="material-icons">closed_caption</i>
<i class="material-icons">error_outline</i>
<i class="material-icons">line_style</i>
<i class="material-icons">Places</i>
<i class="material-icons">Hardware</i>
<i class="material-icons">AV</i>
<i class="material-icons">description</i>
<i class="material-icons">vpn_key</i>
<i class="material-icons">portable_wifi_off</i>
<i class="material-icons">speaker_phone</i>
<i class="material-icons">stay_current_portrait</i>
<i class="material-icons">grade</i>
<i class="material-icons">donut_small</i>
<i class="material-icons">my_location</i>
<i class="material-icons">camera_enhance</i>
<i class="material-icons">feedback</i>
<i class="material-icons">chat_bubble_outline</i>
<i class="material-icons">highlight_off</i>
<i class="material-icons">volume_down</i>
<i class="material-icons">hourglass_full</i>
<i class="material-icons">face</i>
<i class="material-icons">equalizer</i>
<i class="material-icons">library_add</i>
<i class="material-icons">view_week</i>
<i class="material-icons">clear_all</i>
<i class="material-icons">shuffle</i>
<i class="material-icons">system_update_alt</i>
<i class="material-icons">card_membership</i>
<i class="material-icons">no_sim</i>
<i class="material-icons">Content</i>
<i class="material-icons">euro_symbol</i>
<i class="material-icons">call_missed</i>
<i class="material-icons">view_agenda</i>
<i class="material-icons">play_for_work</i>
<i class="material-icons">done</i>
<i class="material-icons">visibility</i>
<i class="material-icons">schedule</i>
<i class="material-icons">warning</i>
<i class="material-icons">announcement</i>
<i class="material-icons">Action</i>
<i class="material-icons">trending_down</i>
<i class="material-icons">pageview</i>
<i class="material-icons">airplay</i>
<i class="material-icons">fast_rewind</i>
<i class="material-icons">sort_by_alpha</i>
<i class="material-icons">store</i>
<i class="material-icons">opacity</i>
<i class="material-icons">reorder</i>
<i class="material-icons">flight_takeoff</i>


{% endblock %} {% block script %}
<script>
    $('ul li#首页').toggleClass('active');
</script> {% endblock %}