{% extends "layout/layout.html" %} {% block content %}

<div class="container">
    <div class="center">
        <img id="logo" src="/static/img/logo.svg" height="200px" />
    </div>
    <div id="app">
        <div class="row">
            <div class="input-field col l6 offset-l3 s12">
                <input placeholder="搜索你想要的..." id="search" type="text" v-model="searchwords" v-on:focus="searchFocus" v-on:blur="searchBlur">
                <label for="search">站内搜索</label>
            </div>
        </div>
        <div v-if="searchwords==''">
            <div class="unfold-wrap">
                <div class="content">
                    <div class="row">
                        <div class="col s12 m6">
                            最新文章 {% for post in newPosts %}{% include "layout/post_card.html" %}{% endfor %}
                        </div>
                        <div class="col s12 m6">
                            特别推荐 {% for post in recommendPosts %}{% include "layout/post_card.html" %}{% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="search-holder" v-if="searchwords!=''">
            <div v-if="loading" class="center">{% include "layout/loading.html" %}</div>
            <div v-if="!loading">
                <div v-if="noResult">无结果</div>
                <div class="unfold-wrap">
                    <div class='content'>
                        <div class="center">
                            <div style="display:inline" v-for="(tag) in tags">
                                <a v-bind:href="'/tag/'+tag.english">
                                    <div class="chip hoverable z-depth-1" v-bind:class="tag.class">
                                        <img v-bind:src="tag.img" onerror='$(this).attr("style","display:none")' onload='$(this).attr("style","")' />
                                        <span v-text='tag.chinese'></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <ul v-for="(post) in posts" class="col s12 l6 offset-l3">
                                <li>
                                    <div class="card hoverable">
                                        <div class="card-content">
                                            <a v-bind:href="'/post/'+post.url">
                                                <p class="card-title activator" v-text='post.title'>
                                                </p>
                                            </a>

                                            <p v-html="post.abstruct"></p>
                                        </div>
                                        <div class="card-action">
                                            <i class="material-icons left">label_outline</i>
                                            <a v-for="(tag) in post.tags" v-bind:href='/tag/+tag[1]'>
                                                <div class="chip" v-bind:class="tag[4]">
                                                    <img v-bind:src="tag[3]" onerror='$(this).attr("style","display:none")' onload='$(this).attr("style","")' />
                                                    <span v-text='tag[0]'></span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>






{% endblock %} {% block script %}
<script>
    $('ul li#首页').toggleClass('active');
    $(document).ready(function() {
        $('.parallax').parallax();
    });

    vue = new Vue({
        el: '#app',
        data: {
            tags: [],
            posts: [],
            loading: true,
            noResult: false,
            searchwords: "",
        },
        methods: {
            searchFocus: function() {
                $("#logo").animate({
                    height: "100px"
                }, 200);
            },
            searchBlur: function() {
                $("#logo").animate({
                    height: "200px"
                }, 300);
            }
        },
        watch: {
            searchwords: function() {
                waitUntilLast('searchInput', () => {
                    this.loading = true;
                    if (this.searchwords == '') {
                        this.tags = [];
                        this.posts = [];
                        this.noResult = true;

                        this.$nextTick(function() {
                            initUnfold($('.unfold-wrap'));
                        });
                    } else {
                        var cnt = 0;
                        var callbackFunction = () => {
                            if (cnt == 2) {
                                this.loading = false;
                                if (this.tags.length + this.posts.length == 0)
                                    this.noResult = true;
                                else
                                    this.noResult = false;

                                this.$nextTick(function() {
                                    initUnfold($('.unfold-wrap'));
                                });
                            }
                        }
                        fetchData('/api/search_tags/' + this.searchwords, data => {
                            this.tags = data;
                            cnt += 1;
                            callbackFunction()
                        }, 'tags');
                        fetchData('/api/search_posts/' + this.searchwords, data => {
                            this.posts = data;
                            cnt += 1;
                            callbackFunction()
                        }, 'posts');
                    }
                }, 1000)
                this.inputing = true;
            }
        },
    })



    // $(document).ready($ => $("#search-holder").attr("style", ""));
    // $(document).ready($ => search());
    // vue.$watch('searchwords', $ => search());
</script> {% endblock %}