{% extends "layout/layout.html" %} {% block content %}

<div class="hide-on-med-and-down" style="height:20px"></div>



<div class="container">
    <div class="center">
        <img src="/static/img/logo.svg" height=100px />
    </div>
    <div id="app">
        <div class="row">
            <div class="input-field col l6 offset-l3 s12">
                <input placeholder="搜索你想要的..." id="search" type="text" v-model="searchwords">
                <label for="search">站内搜索</label>
            </div>
        </div>
        <div id="search-holder" style="display:none">
            <div v-if="loading" class="center">{% include "layout/loading.html" %}</div>
            <div v-if="!loading">
                <div class="center">
                    <div style="display:inline" v-for="(tag) in tags">
                        <a v-bind:href="'/tag/'+tag.english">
                            <div class="chip hoverable z-depth-1" v-bind:class="tag.class">
                                <img v-bind:src="tag.img" onerror='$(this).attr("style","display:none")' onload='$(this).attr("style","")' />
                                <span v-text='tag.chinese'></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <ul v-for="(post) in posts" class="col s12 l6 offset-l3">
                        <li>
                            <div class="card hoverable">
                                <div class="card-content">
                                    <a v-bind:href="'/post/'+post.url">
                                        <p class="card-title activator" v-text='post.title'>
                                        </p>
                                    </a>

                                    <p v-html="post.abstruct"></p>
                                </div>
                                <div class="card-action">
                                    <i class="material-icons left">label_outline</i>
                                    <a v-for="(tag) in post.tags" v-bind:href='/tag/+tag[1]'>
                                        <div class="chip" v-bind:class="tag[4]">
                                            <img v-bind:src="tag[3]" onerror='$(this).attr("style","display:none")' onload='$(this).attr("style","")' />
                                            <span v-text='tag[0]'></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    {% endblock %} {% block script %}
    <script>
        $('ul li#首页').toggleClass('active');
        $(document).ready(function () {
            $('.parallax').parallax();
        });

        vue = new Vue({
            el: '#app',
            data: {
                tags: [],
                posts: [],
                loading: true,
                searchwords: ""
            },
            methods: {}
        })

        function search() {
            searchwords = vue.searchwords;

            vue.loading = true;
            if (searchwords == '') {
                fetchData('/api/tags/', data => {
                    vue.tags = data;
                    vue.loading = false;
                });
            } else {
                cnt = 0
                fetchData('/api/search_tags/' + searchwords, data => {
                    vue.tags = data;
                    cnt += 1;
                    if (cnt == 2)
                        vue.loading = false;
                });
                fetchData('/api/search_posts/' + searchwords, data => {
                    vue.posts = data;
                    cnt += 1;
                    if (cnt == 2)
                        vue.loading = false;
                });
            }

        }

        $(document).ready($ => $("#search-holder").attr("style", ""));
        $(document).ready($ => search());
        vue.$watch('searchwords', $ => search());
    </script> {% endblock %}