{% extends "layout/layout.html" %} {% block content %}


<div class="row">
    <div class="col s12 l8 offset-l2">
        <div class="card hoverable">
            <div class="card-content">
                <div class="row">
                    <div class="col m2 s4">
                        <div class="row ">
                            {% if tag['img']=='' %}
                            <img class="center responsive-img materialboxed" src="/static/img/noimg.png" /> {% else %}
                            <img class="center responsive-img materialboxed" src="{{ tag['img'] }}" /> {% endif %}
                        </div>
                    </div>
                    <div class="col m10 s8">
                        <div class="row">
                            <div class="col s4 bold">
                                标签名
                            </div>
                            <div class="col s4 bold">
                                标签映射
                            </div>
                            <div class="col s4 bold">
                                文章数
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4">
                                {{ tag['chinese'] }}
                            </div>
                            <div class="col s4 truncate">
                                {{ tag['english'] }}
                            </div>
                            <div class="col s4">
                                {% with cnt=posts.__len__() %}{{ cnt }}{% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
                <p class="{{ tag['class'] }}">

            </div>
        </div>

        {% for post in posts %}{% include "layout/post_card.html" %} {% endfor %}

    </div>
</div>
{% endblock %} {% block script %}
<script>
</script> {% endblock %}