body{
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    /* font-size: 18px; */
    /* line-height: 2em; */
}

/* bootstrap主题本地化修改 */

footer {
    background-color: #333;
    font-size: 12px;
    color: white;
    padding: 25px 0;
}

footer .links a {
    color: white;
}

footer .links a:hover {
    color: #428bca;
    text-decoration: none;
}

.navbar-inverse {
    background: #1565c0;
    border: none;
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-toggle {
    border: 0px;
    color: white;
}

.navbar-inverse .navbar-toggle:hover {
    background: #064d9e;
}

.navbar-inverse .navbar-nav>li>a {
    color: #e6e6e6;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #064d9e;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
    text-decoration: none;
}

.row {
    margin: 5px 0px;
}

.glyphicon {
    padding: 0 0.5em;
}


/* 2018年11月10日 修改code标签过长自动换行 */
code{
    word-wrap: break-word;
}

/* 2018年5月26日 修改文章中图片最大高度 */

/* 2018年5月28日 修改文章中图片居中显示*/

article section a img.img-responsive {
    max-height: 300px;
    margin: auto;
}

/* bootstrap主题本地化修改 */

.cut {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tag {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px;
}

.tag>img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

/* 图片居中显示 */

.displayHolder {
    overflow-y: hidden;
}

.displayItem {
    width: 100%;
}

#masonry-container {
    padding: 20px;
}

.masonry-item {
    width: 100px;
    /* 控制每个图片宽度 */
    margin-bottom: 10px;
    float: left;
}

footer p span::before {
    content: "";
    padding: 0px 0.5em;
}

footer p span:not(:first-child)::before {
    content: "|";
}

body {
    background-color: #fcfcfc;
}

section {
    font-size: 18px;
    line-height: 2em;
}

h1, .h1 {
    font-size: 30px;
    font-weight: 1000;
}

h2, .h2 {
    font-size: 25px;
    line-weight: 800;
}

h3, .h3 {
    font-size: 20px;
    line-weight: 700;
}

h4, .h4 {
    font-size: 20px;
    font-weight: 600;
}

h5, .h5 {
    font-size: 20px;
    font-weight: 500;
}

h6, .h6 {
    font-size: 20px;
    font-weight: 400;
}

*/
/* main{
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
} */

strong, .bold {
    font-weight: bold;
}

#console {
    width: 100%;
    overflow: auto;
    background-color: #282C34;
    color: #ccc;
    padding: 20px;
    font-family: Consolas;
    overflow-y: scroll;
}

pre.codeblock {
    display: block;
    padding: 0px;
    margin: 0 -14px 10px;
    font-size: 1em;
    line-height: 1.25;
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
}

pre.codeblock codeblock {
    /* border-radius: 5px; */
    font-family: Consolas;
}

/* code {
    border-radius: 5px;
    border: 1px #ffaaaa dotted;
    padding: 0 5px;
    font-family: Consolas;
    color: #c7254e;
    background-color: #f9f2f4;
    margin: 0px 2px -6px 2px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    display: inline-block;
    line-height: 1.5em;
} */

/* nav{
    background-image: url(/static/img/bg.gif);
    background-color: opacity(0.3) !important;
} */

#particles {
    width: 100%;
    height: 100%;
    /* z-index: -2; */
}

/* .particles-wrapper{
    z-index: 0; 
} */

/* #particles *{
    z-index: 2;
} */

#particles>canvas {
    position: absolute;
    z-index: 100;
    /* pointer-events: none; */
}

.top-bottom {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.img-holder {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

table.highlight>tbody>tr:hover {
    background-color: #aaaaaa;
}

.digit {
    color: #fff;
    background-color: #9c9c9c;
    border-radius: 3px;
    padding: 2px 5px;
    vertical-align: super;
    font-size: 10px;
}

/* Bootstrap 部分 CSS 效果 */

kbd {
    font-family: Consolas;
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25)
}

/* code{
    font-family: Consolas;
    color: #c7254e;
    background-color: #f9f2f4;
    margin: 0px 2px 0px 2px;
} */

.label {
    font-family: Consolas;
    display: inline;
    color: #fff;
    padding: 1px 3px 2px 3px;
    margin: 0px 2px 0px 2px;
    border-radius: 2px;
}

.label-red {
    background: #d9534f;
}

.label-green {
    background: #5cb85c;
}

.label-blue {
    background: #428bca;
}

.label-sky {
    background: #5bc0de;
}

.label-orange {
    background: #f0ad4e;
}

blockquote{
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: initial;
    border-left: 5px solid #1565c0;
    background: #f5f5f5;
}

/* OJ 题目部分 CSS 效果 */

.oj {
    display: block;
    background: #f7f7f7;
    color: #666;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    height: 100%;
}

.part:before {
    content: attr(title);
    color: #444;
    font-weight: bold;
    font-size: 20px;
}

.clear {
    clear: both;
}

.samp {
    font-family: "Consolas";
    display: block;
}

.input, .output {
    display: block;
    width: 45%;
    height: 100%;
}

.input {
    float: left;
}

.output {
    float: right;
}

.oj blockquote {
    /* 引用在 .oj 类中 显示颜色修改 */
    background: #888;
    color: #fff
}

/* 代码段部分隐藏 CSS 效果 */

.hider_title {
    font-family: "Microsoft Yahei";
    cursor: pointer;
    font-weight: bold;
    /* background-color: #555; */
    width: auto;
}

.fold_parent {
    padding: 5px;
    /* background-color: #555; */
    border-radius: 5px;
}

.fold_hider .fold_close:after {
    content: "▼";
}

.fold_hider .fold_open:after {
    content: "▲";
}

/* blockquote-center 标签 */

.blockquote-center {
    position: relative;
    margin: 40px 0;
    padding: 0;
    border-left: none;
    text-align: center;
}

.blockquote-center::before, .blockquote-center::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 100%;
    height: 24px;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: 0 -6px;
    background-size: 22px 22px;
}

.blockquote-center ::before {
    top: -20px;
    background-image: url($center-quote-left);
    border-top: 1px solid #666;
}

.blockquote-center::after {
    bottom: -20px;
    background-image: url($center-quote-right);
    border-bottom: 1px solid #666;
    background-position: 100% 8px;
}

.blockquote-center p, .blockquote-center div {
    text-align: center;
}

/* note 标签 */

.note {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.note h2, .note h3, .note h4, .note h5, .note h6 {
    margin-top: 0;
    margin-bottom: 5px;
}

.note p:last-child {
    margin-bottom: 0;
}

.note code {
    border-radius: 3px;
}

.note .note {
    margin-top: -5px;
}

.default {
    border-left-color: #777;
}

.default h2, .default h3, .default h4, .default h5, .default h6 {
    color: #777;
}

.primary {
    border-left-color: #428bca;
}

.primary h2, .primary h3, .primary h4, .primary h5, .primary h6 {
    color: #428bca;
}

.success {
    border-left-color: #5cb85c;
}

.success h2, .success h3, .success h4, .success h5, .success h6 {
    color: #5cb85c;
}

.danger {
    border-left-color: #d9534f;
}

.danger h2, .danger h3, .danger h4, .danger h5, .danger h6 {
    color: #d9534f;
}

.warning {
    border-left-color: #f0ad4e;
}

.warning h2, .warning h3, .warning h4, .warning h5, .warning h6 {
    color: #f0ad4e;
}

.info {
    border-left-color: #5bc0de;
}

.info h2, .info h3, .info h4, .info h5, .info h6 {
    color: #5bc0de;
}

/* 半透明折叠 */

.unfold-wrap {
    max-height: 40rem;
    /*设置默认高度*/
    overflow: hidden;
    position: relative;
    visibility: hidden;
}

.unfold-field {
    display: none;
    position: absolute;
    font-size: 0;
    bottom: 0;
    width: 100%;
    height: 124px;
    z-index: 3;
}

.unfold-field .unflod-field_mask {
    height: 78px;
    width: 100%;
    /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, hsla(0, 0%, 100%, 0)), to(#f6f6f6)); */
    background-image: linear-gradient(-180deg, hsla(0, 0%, 100%, 0), #fcfcfc);
}

.unfold-field_text {
    cursor: pointer;
    width: 100%;
    color: #406599;
    ;
    height: 46px;
    font-size: 0px;
    line-height: 46px;
    text-align: center;
    height: 200px;
    background: #fcfcfc;
}

.unfold-field_text span {
    display: inline-block;
    font-size: 16px;
    height: 46px;
    line-height: 46px;
}

/* loading */

.loadEffect {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 100px auto;
}

.loadEffect span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #428bca;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}

@-webkit-keyframes load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.loadEffect span:nth-child(1) {
    left: 0;
    top: 50%;
    margin-top: -8px;
    -webkit-animation-delay: 0.13s;
}

.loadEffect span:nth-child(2) {
    left: 14px;
    top: 14px;
    -webkit-animation-delay: 0.26s;
}

.loadEffect span:nth-child(3) {
    left: 50%;
    top: 0;
    margin-left: -8px;
    -webkit-animation-delay: 0.39s;
}

.loadEffect span:nth-child(4) {
    top: 14px;
    right: 14px;
    -webkit-animation-delay: 0.52s;
}

.loadEffect span:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -8px;
    -webkit-animation-delay: 0.65s;
}

.loadEffect span:nth-child(6) {
    right: 14px;
    bottom: 14px;
    -webkit-animation-delay: 0.78s;
}

.loadEffect span:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    -webkit-animation-delay: 0.91s;
}

.loadEffect span:nth-child(8) {
    bottom: 14px;
    left: 14px;
    -webkit-animation-delay: 1.04s;
}